@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat&display=swap');

p, #form__destination_error {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

p:last-child {
    margin-bottom: 0;
}

h2 {
    font-family: 'Montserrat', sans-serif !important;
    color: #383838 !important;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.page-wrapper{
    max-width: 1500px;
    margin:0 auto;
    padding: 25px;
}

header {
    background-color: #383838;
}

#header__nav{
    color: #F5F5F5;
    font-family: 'Lora', serif;
}

#banner {
    background-image: url("../images/photo-1496950866446-3253e1470e8e.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

#banner__text{
    background-color: #383838;
    color: #F5F5F5;
}

.section__head {
    font-family: 'Montserrat', sans-serif;
    size: 1.5em;
}

.form__destination {
    margin-bottom: 20px;
}

#form__destination_error {
    padding: 10px 0 0 10px;
    color: red;
}

#container__google {
    padding-right: 0;
}

#container__googlemaps {
    width: 95%;
    height: 491px;
    display: inline-block;
}

/* PURPOSE: Places search box */
/* SRC: https://developers.google.com/maps/documentation/javascript/examples/places-searchbox */


#pac-input {
    height: 40px;
    display: table-cell;
    position: relative;
    color: rgb(86, 86, 86);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    padding: 0px 17px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    background-clip: padding-box;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    min-width: 65px;
    border-left: 0px;
    margin-top: 10px;
    border: none;
}

#submit__destination{
    height: 40px;
    display: table-cell;
    position: relative;
    color: rgb(86, 86, 86);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: lightgray;
    padding: 0px 17px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    background-clip: padding-box;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
    min-width: 65px;
    border-left: 0px;
    margin-top: 10px;
    border: none;
}

#description {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
#target {
    width: 345px;
}

#container__map_yelp {
    margin-bottom: 25px;
}

/* ---------- Yelp Results ---------- */
#container__yelp {
    display: inline-block;
    width: 45%;
    padding: 0;
}

.yelp__result {
    border-radius: 2px;
    height: 90px;
    margin-bottom: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.yelp__contentbox {
    padding-left: 12px;
}

.yelp__title {
    font-size:14px;
    font-weight: bold;
}

.yelp__image_container {
    padding: 0;
    height: 90px;
    width: 100px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.yelp__images {
    vertical-align: middle;
    border-style: none;
    object-fit: cover;
    height: 90px;
    width: 100px;

}

.font_11 {
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
}

#google__places_photo {
    height: 350px;
}

.google__photos {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
    height: 50%;
    width: 20%;
    padding: 5px;
    object-fit: cover;
}


/* PURPOSE: Star using for star rating */
/* SRC: https://www.labnol.org/code/19127-css-star-ratings */

.star {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAQAAADI+WwIAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAJiS0dEAP+Hj8y/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAACXZwQWcAAAALAAAACgCF+qVAAAAAhUlEQVQI103NMQqCABgF4C+Fxg7QHDQ0JkFnaKqlKJBu4Np9hEDoBq2doCYP0B4UBKLYUKZvex+P/+9N/dJ3FXl9S9CopbF9U1pOkAgb3irVanOMlGqldeBoo9CmspMFOFmp/hzLmtuXzvrWvpwJFVJvLLqci8Qmzl8OhzBwcMdD6ilXfwAd9B9f78yTCQAAAABJRU5ErkJggg==);
}

.unstar {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAQAAADI+WwIAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAJiS0dEAP+Hj8y/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAACXZwQWcAAAALAAAACgCF+qVAAAAAo0lEQVQI1z2NMQrCQBRE32YxGFDwBGJnYZkll0ilpDISLO28k4lFwN7CTsTKSisbK8ELCJFI/BZJdn41j/kzSqiVuZ3r1yzeAAanoajpcOwsW2dxf+0yWGe6CaVzNmgY4VHyQKAiVsIlUlvc9otK4lXugNnJjKqlkpi86X6exIZfNztZBGhKUgr4hBZ3A3UX4ye/CYdeWHch7MOzJ9R3jFLt8we7izGyoi32iQAAAABJRU5ErkJggg==);
}

.half-star {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAQAAADI+WwIAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAJdnBBZwAAAAsAAAAKAIX6pUAAAACTSURBVAjXTY0xCsJAEEVfdiEgpPAWFpYTvMRWSioDwdIuh7GydbEIeAM7sU1lo42tR1CEdSzMJk4178H/H7qTVK4+A0URTNTMmZhVhEHXMK69/UEiS3Z0sOGOQqBMQAr2pABbgKDlujHQHlgQYpdWeRO7z/0Cj8swOcPyxvOEl/vXN/K2+kw5Zq4PipNR/E+Ft8IX7yMjsFUGo0cAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAAAAElFTkSuQmCC);
}

.rating {
    margin-top: 3px;
    float: left;
    width: 11px;
    height: 10px;
}


#footer {
    background-color: #383838;
    height: 4.25em;
    color: #F5F5F5;

}
